<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Faculty Panel</div>
    <div class="list-group list-group-flush">
        <a asp-area="Admin" asp-page="#"
           class="list-group-item list-group-item-action bg-light">
            View Students
        </a>
        <a asp-area="Admin" asp-page="#"
           class="list-group-item list-group-item-action bg-light">
            Schedule
        </a>
    
    </div>
        
</div>