@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/Admin/Departments" class="list-group-item list-group-item-action bg-light">Departments</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Faculties</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Students</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Courses</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Rooms</a>
    </div>
</div>