<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        <a asp-area="Admin" asp-page="Index"
           class="list-group-item list-group-item-action bg-light">
            Dashboard
        </a>
        <a asp-area="Admin" asp-page="/Departments/Index"
           class="list-group-item list-group-item-action bg-light">
            Departments
        </a>
        <a asp-area="Admin" asp-page="/Programs/Index"
           class="list-group-item list-group-item-action bg-light">
            Programs
        </a>
        <a asp-area="Admin" asp-page="/Faculties/Index"
           class="list-group-item list-group-item-action bg-light">
            Faculties
        </a>
        <a asp-area="Admin" asp-page="/Students/Index"
           class="list-group-item list-group-item-action bg-light">
            Students
        </a>

        <a asp-area="Admin" asp-page="/Courses/Index"
           class="list-group-item list-group-item-action bg-light">
            Courses
        </a>          
        <a asp-area="Admin" asp-page="/Rooms/Index"
           class="list-group-item list-group-item-action bg-light">
            Rooms
        </a></div>
</div>