<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Faculty Panel</div>
    <div class="list-group list-group-flush">
        <a asp-area="DepartmentAdmin" asp-page="#"
           class="list-group-item list-group-item-action bg-light">
            View Students
        </a>
        <a asp-area="DepartmentAdmin" asp-page="#"
           class="list-group-item list-group-item-action bg-light">
            Schedule
        </a>

        <a asp-area="DepartmentAdmin" asp-page="/Faculties/Index"
           class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-chalkboard-teacher"></i>
            Faculties
        </a>

        <a asp-area="DepartmentAdmin" asp-page="/Courses/Index"
           class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-book"></i>
            Courses
        </a>

    </div>
        
</div>